* {
    box-sizing: border-box;
}

.hw {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid lightgrey;
}

.hwTitle {
    display: flex;
    justify-content: center;
    color: blue;
    padding-bottom: 20px;
}

/*---------input--------------------*/


/*-------error---------------*/
.error {
    color: red;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
}

/*-----------button---------------*/

/*--------------checkbox---------------*/

/*<input type={"checkbox"} className={checkbox}  />*/
/*<span className={s.checkboxTick}> </span>*/

.checkbox {
    display: none; /* Hide the default checkbox */
}

span.checkboxTick {
    height: 15px;
    width: 15px;
    border: 1px solid grey;
    display: inline-block;
    position: relative;
    color: #11a7a4;
}

.checkbox:checked + span.checkboxTick:before {
    content: '\2714';
    position: absolute;
    top: -2px;
    left: 3px;
}

.checkboxText {
    padding: 0 10px;
}