.hw {

    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hw span {
    margin: 20px 0;
}
.afTable {
    border: 1px solid black;
    border-right: 1px solid yellowgreen;
    margin: 20px;
}
.affairBlock {
    display: flex;
}

.affairId {
    width: 50px;
    border: 1px solid black;
}
.affairName {
    width: 200px;
    border: 1px solid green;
}
.affairPriority {
    width: 80px;
    border: 1px solid yellowgreen;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
