/*<span className={s.checkboxTick}> </span>*/
.label .checkbox {
    display: none; /* Hide the default checkbox */

}

.label span.checkboxTick {
    height: 15px;
    width: 15px;
    border: 1px solid grey;
    display: inline-block;
    position: relative;
    color: #11a7a4;
}

.checkbox:checked + span.checkboxTick:before {
    content: '\2714';
    position: absolute;
    top: -2px;
    left: 3px;
}
.checkboxText {
    padding: 0 10px;
}