* {
    box-sizing: border-box;
}
.alt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    max-width: 350px;
    min-height: 120px;
    padding: 10px;
    margin-top: 10px
}
.mainField {
    display: flex;
    justify-content: center;
}

.inputField  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addInputStyles {
    height: 44px;
}
.addButtonClass {
    width: 70px;
    height: 44px;
    border-radius: 0;
}
.button {
    width: 70px;
    height: 44px;
    margin: 0;

}
.span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 44px;
    border: 1px solid black;
    font-family: "Courier New";
    font-weight: 600;
}
.title {
    font-size: 12px;
    text-decoration: underline;
}
.array {
    padding: 15px 0;
    color: deeppink;

}
.totalCount {
    font-weight: 600;
}